.footer-section {
  background: #ffffff;
}

.footer-logo {
  width: 50px;
  height: 50px;
}

.footer-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-list li {
  margin-bottom: 10px;
  cursor: pointer;
}

.newsletter input {
  padding: 12px 20px 12px 20px;
  border-radius: 30px;
  border: 1px solid #dddddd;
}
.newsletter input::-webkit-input-placeholder {
  color: #666666;
}
.newsletter input::-moz-placeholder {
  color: #666666;
}
.newsletter input:-ms-input-placeholder {
  color: #666666;
}
.newsletter input::-ms-input-placeholder {
  color: #666666;
}
.newsletter input::placeholder {
  color: #666666;
}
.footer-subs-btn {
  right: 0;
}

.footer-img {
  width: 100%;
}

.footer-divider {
  border-color: #dddddd;
}

footer a {
  text-decoration: none;
  color: var(--black-color);
}

footer a:hover {
  text-decoration: underline;
  -webkit-transform: translateY(-6px);
  -ms-transform: translateY(-6px);
  transform: translateY(-6px);
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  -o-transition: transform 0.3s ease;
  transition: transform 0.3s ease;
  transition:
    transform 0.3s ease,
    -webkit-transform 0.3s ease;
}
@media (max-width: 768px) {
  .newsletter input {
    padding: 5px 20px 5px 20px;
  }
}

@media (max-width: 576px) {
  .newsletter input {
    padding: 5px 8px 5px 16px;
  }
  .newsletter input::-webkit-input-placeholder {
    font-size: 12px;
  }
  .newsletter input::-moz-placeholder {
    font-size: 12px;
  }
  .newsletter input:-ms-input-placeholder {
    font-size: 12px;
  }
  .newsletter input::-ms-input-placeholder {
    font-size: 12px;
  }
  .newsletter input::placeholder {
    font-size: 12px;
  }
}
