.meeting-section {
  background-color: var(--light-gray);
}

.meeting-section .shape-card {
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  -o-transition: transform 0.3s ease;
  transition: transform 0.3s ease;
  transition:
    transform 0.3s ease,
    -webkit-transform 0.3s ease;
}

.meeting-section .shape-card:hover {
  -webkit-transform: translateY(-6px);
  -ms-transform: translateY(-6px);
  transform: translateY(-6px);
  opacity: 0.85;
}

.meeting-section .shape-icon {
  max-width: 62px;
  margin: 0 auto;
}

/* Mobile tweaks */
@media (max-width: 575px) {
  .section-title {
    font-size: 24px;
  }

  .shape-icon {
    max-width: 70px;
  }
}
