.navbar-toggler:focus {
  -webkit-box-shadow: 0 0 0 0;
  box-shadow: 0 0 0 0;
}
.topnavbar .menu-icons {
  width: 20px;
  height: 20px;
  /* padding: 0 5px; */
  margin: 0 5px;
}
.topnavbar a,
.mainnavbar a {
  font-family: var(--font-montserrat);
  font-size: var(--primary-regular-font-size) !important;
  color: var(--black-color);
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
header a:hover {
  text-shadow: 0 0 0.9px var(--black-color);
}

/* =========================
   TOP NAVBAR DIVIDER
========================= */

.topnavbar-left .nav-link:not(:last-child),
.topnavbar-right .nav-link:not(:last-child) {
  position: relative;
  padding-right: 20px;
  margin-right: 20px;
}

.topnavbar-left .nav-link:not(:last-child)::after,
.topnavbar-right .nav-link:not(:last-child)::after {
  content: "";
  position: absolute;
  right: -12px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 22px;
  width: 1px;
  background-color: #dddddd;
}
.logo {
  width: 205px !important;
  max-width: 100% !important;
  height: auto !important;
}
.navbar-toggler-cus {
  padding: 4px 8px;
}
.navbar-toggler-cus .navbar-toggler-icon {
  font-size: 16px;
}

@media (max-width: 991px) {
  .topnavbar-left .nav-link:not(:last-child),
  .topnavbar-right .nav-link:not(:last-child) {
    padding-right: 0px;
    margin-right: 0px;
  }
  .logo {
    width: 180px !important;
  }
}
@media (max-width: 500px) {
  .navlink-divider::after {
    content: "";
    margin-left: 12px;
    height: 22px;
    width: 1px;
    background-color: #dddddd;
  }
}
