.collection-section .img-card {
  position: relative;
  overflow: hidden;
  height: 100%;
}

.collection-section .img-card img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  display: block;
}

/* Gradient overlay */
.collection-section .img-overlay {
  position: absolute;
  inset: 0;
  background: -webkit-gradient(
    linear,
    left bottom,
    left top,
    from(rgb(0 0 0 / 81%)),
    color-stop(7%, rgb(0 0 0 / 49%)),
    color-stop(24%, rgb(1 1 1 / 0%)),
    color-stop(0%, rgba(0, 0, 0, 0))
  );
  background: -o-linear-gradient(
    bottom,
    rgb(0 0 0 / 81%) 0%,
    rgb(0 0 0 / 49%) 7%,
    rgb(1 1 1 / 0%) 24%,
    rgba(0, 0, 0, 0) 0%
  );
  background: linear-gradient(
    360deg,
    rgb(0 0 0 / 81%) 0%,
    rgb(0 0 0 / 49%) 7%,
    rgb(1 1 1 / 0%) 24%,
    rgba(0, 0, 0, 0) 0%
  );
}

/* Text on image */
.collection-section .img-text {
  position: absolute;
  bottom: 16px;
  left: 16px;
  color: var(--white-color);
  margin: 0;
  z-index: 2;
}

/* Heights */
.collection-section .big-img {
  position: relative;
  height: 100%;
  min-height: 728px;
}
.collection-section .big-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

/* .collection-section .small-img {
  height: 250px;
} */

/* Text content box */
.collection-section .content-box {
  background: var(--bg-secondary-color);
  padding: 48px 24px;
}
@media (max-width: 1440px) {
  .collection-section .big-img {
    min-height: 728px;
  }
}
@media (min-width: 768px) {
  .collection-section .big-img,
  .j-content-img-left {
    margin-right: 16px;
  }
  .j-content-child,
  .j-content-img-right {
    margin-left: 16px;
  }
  .j-content-child .content-box {
    margin-bottom: 32px;
  }
}
/* Mobile adjustments */
@media (max-width: 576px) {
  .collection-section .big-img {
    min-height: 100%;
  }
}
