.product-image-wrapper {
  position: relative;
  overflow: hidden;
}

.product-image-wrapper img {
  width: 100%;
  display: block;
}

.wishlist-btn {
  position: absolute;
  top: 16px;
  right: 21px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  background: var(--white-color);
  opacity: 0;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

.product-card:hover .wishlist-btn {
  opacity: 1;
}
.product-card .prod-icon {
  width: 20px;
  height: 20px;
}
.wishlist-btn:hover {
  background-color: var(--black-color);
}
.wishlist-btn:hover .prod-icon {
  -webkit-filter: invert(1) sepia(1) saturate(1);
  filter: invert(1) sepia(1) saturate(1);
}
.product-card {
  width: 100%;
}
.swiper-pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background: #d9d9d9;
  opacity: 1;
  display: block;
  border-radius: 50%;
  margin: 0 4px;
}

.swiper-pagination-bullet-active {
  background: var(--primary-color);
}
@media (max-width: 767px) {
  .wishlist-btn {
    top: 10px;
    right: 12px;
  }
  .wishlist-btn {
    width: 24px;
    height: 24px;
  }
  .product-card .prod-icon {
    width: 14px;
    height: 14px;
  }
  .swiper-pagination {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .swiper-pagination-bullet {
    width: 6px;
    height: 6px;
  }
}
