@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  /* box-sizing: unset; */
  list-style: none;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
}
:root {
  --black-color: #000000;
  --primary-color: #111a2b;
  --white-color: #ffffff;
  --light-gray: #f5f5f5;
  --bg-secondary-color: #dbc2ac;

  --font-montserrat: "Montserrat", sans-serif;
  --font-cinzel: "Cinzel", serif;

  --h1-font-size: 4rem; /*64px*/
  --h2-font-size: 2.5rem; /*40px*/

  --primary-regular-font-size: 1rem; /*16px*/
  --secondary-font-size: 1.125rem; /*18px*/

  --width-1230: 1230px;
}
p {
  font-size: var(--primary-regular-font-size);
}
h1 {
  font-size: var(--h1-font-size);
}
h2 {
  font-size: var(--h2-font-size);
}
.primary-regular-font-size {
  font-size: var(--primary-regular-font-size);
}
.secondary-font-size {
  font-size: var(--secondary-font-size);
}
.fs-12 {
  font-size: 12px;
}
.font-fam-Montserrat {
  font-family: var(--font-montserrat);
}
.font-fam-Cinzel {
  font-family: var(--font-cinzel);
}
.fw-100 {
  font-weight: 100;
}
.fw-200 {
  font-weight: 200;
}
.fw-300 {
  font-weight: 300;
}
.fw-400 {
  font-weight: 400;
}
.fw-500 {
  font-weight: 500;
}
.fw-600 {
  font-weight: 600;
}
.fw-700 {
  font-weight: 700;
}
.fw-800 {
  font-weight: 800;
}
.fw-900 {
  font-weight: 900;
}
.btn-transparent-radius {
  border: 1px solid var(--primary-color);
  padding: 12px 24px;
  border-radius: 30px;
  background: transparent;
  color: var(--primary-color);
  font-size: var(--primary-regular-font-size);
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.btn-transparent-radius:hover {
  border: 1px solid var(--primary-color);
  background: var(--primary-color);
  color: var(--white-color);
}

.btn-dark-radius {
  border: 1px solid var(--primary-color);
  padding: 12px 24px;
  border-radius: 30px;
  background: var(--primary-color);
  color: var(--white-color);
  font-size: var(--primary-regular-font-size);
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.btn-dark-radius:hover {
  border: 1px solid var(--primary-color);
  background: transparent;
  color: var(--primary-color);
}

@media (min-width: 1230px) {
  .guidline-width {
    width: var(--width-1230);
  }
}
@media (max-width: 1024px) {
  :root {
    --h1-font-size: 2.625rem; /*42px*/
    --h2-font-size: 1.875rem; /*30px*/
  }
}
@media (max-width: 768px) {
  :root {
    --h1-font-size: 2rem; /*32px*/
    --h2-font-size: 1.625rem; /*26px*/
    --primary-regular-font-size: 0.875rem; /*14px*/
    --secondary-font-size: 1rem; /*16px*/
  }
  .btn-transparent-radius,
  .btn-dark-radius {
    padding: 6px 16px;
  }
}
